h2= @comix.title
.publisher= @comix.publisher.name
.year= @comix.year
.language= @comix.language
.pages= "#{@comix.pages.count} страниц"

.text-center
 = image_tag @comix.pages[@current_page_id].page_url

 = will_paginate @pages
